# Authors:
# - Vincent Garonne, <vgaronne@gmail.com>, 2018

[client]
rucio_host = {{ RUCIO_CFG_RUCIO_HOST | default('https://escape-rucio.cern.ch') }}
auth_host = {{ RUCIO_CFG_AUTH_HOST | default('https://escape-rucio-auth.cern.ch') }}
ca_cert = {{ RUCIO_CFG_CA_CERT | default('/rucio_cache/CERN-bundle.pem') }}
auth_type = {{ RUCIO_CFG_AUTH_TYPE | default('x509_proxy') }}
username = {{ RUCIO_CFG_USERNAME | default('') }}
password = {{ RUCIO_CFG_PASSWORD | default('') }}
account = {{ RUCIO_CFG_ACCOUNT | default('') }}
client_x509_proxy = {{ RUCIO_CFG_CLIENT_X509_PROXY | default('/vomsproxy_cache/x509up_proxy') }}
request_retries = {{ RUCIO_CFG_REQUEST_RETRIES | default('3') }}

[policy]
permission = {{ RUCIO_CFG_POLICY_PERMISSION | default('escape')}}
schema = {{ RUCIO_CFG_POLICY_SCHEMA | default('escape') }}
lfn2pfn_algorithm_default = {{ RUCIO_CFG_POLICY_LFN2PFN_ALGORITHM_DEFAULT | default('hash') }}
support = {{ RUCIO_CFG_POLICY_SUPPORT | default('https://github.com/rucio/rucio/issues/') }}
support_rucio = {{ RUCIO_CFG_POLICY_SUPPORT_RUCIO | default('https://github.com/rucio/rucio/issues/') }}
